<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"></head>

<body>
<div th:replace="fragments/bodyHeader :: bodyHeader"></div>

<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">404
        <small>Page Not Found</small>
    </h1>

    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/">Home</a>
        </li>
        <li class="breadcrumb-item active">404</li>
    </ol>

    <div class="jumbotron">
        <h1 class="display-1">404</h1>
        <p>현재는 Basketball Stat 기능만 지원 중입니다. 다른 종목들은 추후에 지원할 예정입니다.</p>
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="about">About</a>
            </li>
            <li>
                <a href="contact">Contact</a>
            </li>
            <li>
                Sports
                <ul>
                    <li>
                        <a href="basketball">Basketball</a>
                    </li>
                    <li>
                        <a>Soccer (지원 예정)</a>
                    </li>
                    <li>
                        <a>Baseball (지원 예정)</a>
                    </li>
                    <li>
                        <a>e-Sports (지원 예정)</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <!-- /.jumbotron -->

</div>

<div th:replace="fragments/footer :: footer"></div>

<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
