<!DOCTYPE html>
<html lang="en">

<head th:replace="fragments/header :: header">
</head>

<body>
<div th:replace="fragments/bodyHeader :: bodyHeader"></div>

<!-- Page Content -->
<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">About
        <small>The Stat</small>
    </h1>

    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/">Home</a>
        </li>
        <li class="breadcrumb-item active">About</li>
    </ol>

    <!-- Intro Content -->
    <div class="row">
        <div class="col-lg-6">
            <img class="img-fluid rounded mb-4" src="/img/about3.jpeg" alt="">
        </div>
        <div class="col-lg-6">
            <h2> 어떤 서비스 인가요? </h2>
            <p> The Stat 은 대학교 스포츠 활동을 하는 학생들이 대회에서 쌓은 기록들을 모으는 곳입니다 </p>
            <p> 해당 서비스를 통해 특정 연도, 특정 대회, 특정 학교, 특정 선수의 기록들을 확인할 수 있습니다 </p>
            <p> 이제 대회에서 추억뿐 아니라 자신이 남긴 기록까지 간직해보세요 </p>
        </div>
    </div>
    <!-- /.row -->

    <!-- Team Members -->
    <h2>Our Team</h2>

    <div class="row">
        <div class="col-lg-4 mb-4">
            <div class="card h-100 text-center">
                <img class="card-img-top" src="/img/member_profile.jpg" alt="">
                <div class="card-body">
                    <h4 class="card-title">이 상 진</h4>
                    <h6 class="card-subtitle mb-2 text-muted">Project Manager & Developer</h6>
                    <p class="card-text"> 서비스 기획 및 개발 담당 </p>
                </div>
                <div class="card-footer">
                    <a href="#">asgd56@gmail.com</a>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->

</div>
<!-- /.container -->

<!-- Footer -->
<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright 2021. 이상진 inc. all rights reserved.</p>
    </div>
    <!-- /.container -->
</footer>

<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
