<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
</head>

<body>
<div th:replace="fragments/bodyHeader :: bodyHeader"></div>

<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">농구</h1>

    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/">Home</a>
        </li>
        <li class="breadcrumb-item active">Services</li>
    </ol>

    <nav class="navbar-brand">
        <ul style="list-style: none">
            <li style="float:left" class="nav-item">
                <a class="nav-link" href="basketball-league-schedule">경기일정 및 결과</a>
            </li>
            <li style="float:left" class="nav-item">
                <a class="nav-link" href="basketball-league-ranking-team">팀기록</a>
            </li>
            <li style="float:left" class="nav-item">
                <a class="nav-link" href="basketball-league-ranking-player">개인기록</a>
            </li>
        </ul>
    </nav>

    <!-- Image Header -->
    <!--    <img class="img-fluid rounded mb-4" src="http://placehold.it/1200x300" alt="">-->
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <!-- Slide One - Set the background image for this slide in the line below -->
            <div class="carousel-item active" style="background-image: url('/img/basketball_img_01.jpeg');">
            </div>
            <!-- Slide Two - Set the background image for this slide in the line below -->
            <div class="carousel-item" style="background-image: url('/img/basketball_img_02.jpeg');">
            </div>
            <!-- Slide Three - Set the background image for this slide in the line below -->
            <div class="carousel-item" style="background-image: url('/img/basketball_img_03.jpeg');">
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <br/>
    <!-- Marketing Icons Section -->
    <div class="row">
        <div class="col-lg-4 mb-4">
            <div class="card mh-100">
                <h4 class="card-header" style="text-align: center">경기일정 및 결과</h4>
                <div class="card-body">
                    <p class="card-text">대회 경기일정 및 결과를 확인 할 수 있습니다</p>
                </div>
                <div class="card-footer" style="text-align: center">
                    <a href="basketball-league-schedule" class="btn btn-primary"> 바로 가기</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 mb-4">
            <div class="card mh-100">
                <h4 class="card-header" style="text-align: center">팀 기록</h4>
                <div class="card-body">
                    <p class="card-text">대회 및 경기별 팀 기록을 확인 할 수 있습니다</p>
                </div>
                <div class="card-footer" style="text-align: center">
                    <a href="basketball-league-ranking-team" class="btn btn-primary">바로 가기</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 mb-4">
            <div class="card mh-100">
                <h4 class="card-header" style="text-align: center">개인 기록</h4>
                <div class="card-body">
                    <p class="card-text">대회 및 경기별 개인 기록을 확인 할 수 있습니다</p>
                </div>
                <div class="card-footer" style="text-align: center">
                    <a href="basketball-league-ranking-player" class="btn btn-primary">바로 가기</a>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->

</div>

<div th:replace="fragments/footer :: footer"></div>

<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
