<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"></head>

<body>
<div th:replace="fragments/bodyHeader :: bodyHeader"></div>

<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">농구
        <small>경기일정 및 결과</small>
    </h1>

    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/">Home</a>
        </li>
        <li class="breadcrumb-item">
            <a href="basketball">Basketball</a>
        </li>
        <li class="breadcrumb-item active">경기일정 및 결과</li>
    </ol>

    <nav class="navbar-brand">
        <ul style="list-style: none">
            <li style="float:left" class="nav-item">
                <a class="nav-link" href="basketball-league-schedule">경기일정 및 결과</a>
            </li>
            <li style="float:left" class="nav-item">
                <a class="nav-link" href="basketball-league-ranking-team">팀기록</a>
            </li>
            <li style="float:left" class="nav-item">
                <a class="nav-link" href="basketball-league-ranking-player">개인기록</a>
            </li>
        </ul>
    </nav>

    <!-- Image Header -->
    <img class="img-fluid rounded mb-4" src="/img/basketball_stat_img1.jpg" alt="">

    <!-- Search Section -->
    <div>
        <form th:object="${teamMatchSearch}" class="form-inline">
            <div class="form-group mb-2">
                <div class="form-group mx-sm-1 mb-2">
                    <select th:field="*{year}" class="form-control">
                        <option value="2019">2019</option>
                        <option value="2020">2020</option>
                        <option value="2021">2021</option>
                    </select>
                </div>
                <div class="form-group mx-sm-1 mb-2">
                    <select th:field="*{tournamentName}" class="form-control">
                        <option value="임시대회A">임시대회A</option>
                        <option value="임시대회B">임시대회B</option>
                        <option value="임시대회C">임시대회C</option>
                    </select>
                </div>
            <div class="form-group mb-2">
                <input type="text" th:field="*{teamName}" class="formcontrol" placeholder="팀 이름"/>
            </div>
            <button type="submit" class="btn btn-primary mb-2">검색</button>
        </form>
    </div>

    <!-- Table Section -->
    <div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>대회명</th>
                <th>날짜</th>
                <th>시간</th>
                <th>팀 A</th>
                <th></th>
                <th>팀 B</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="list : ${lists}">
                <td th:text="${list.match.tournament.name}"></td>
                <td th:text="${list.date} + ' (' + ${#calendars.dayOfWeekName(list.date)} + ') '"></td>
                <td th:text="${#dates.format(list.time, 'HH:mm')}"></td>
                <td th:text="${list.match.firstTeamName}"></td>
                <td th:if="${list.match.status} == '종료'" th:text="${list.match.firstTeamScore} + ' : ' + ${list.match.secondTeamScore}"></td>
                <td th:if="${list.match.status} == '진행중'" th:text="vs"></td>

                <td th:text="${list.match.secondTeamName}"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <!-- /.row -->

</div>

<div th:replace="fragments/footer :: footer"></div>

<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
