<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
</head>

<body>
<div th:replace="fragments/bodyHeader :: bodyHeader"></div>

<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">농구
        <small>팀기록</small>
    </h1>

    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/">Home</a>
        </li>
        <li class="breadcrumb-item">
            <a href="basketball">Basketball</a>
        </li>
        <li class="breadcrumb-item active">팀기록</li>
    </ol>

    <nav class="navbar-brand">
        <ul style="list-style: none">
            <li style="float:left" class="nav-item">
                <a class="nav-link" href="basketball-league-schedule">경기일정 및 결과</a>
            </li>
            <li style="float:left" class="nav-item">
                <a class="nav-link" href="basketball-league-ranking-team">팀기록</a>
            </li>
            <li style="float:left" class="nav-item">
                <a class="nav-link" href="basketball-league-ranking-player">개인기록</a>
            </li>
        </ul>
    </nav>

    <!-- Image Header -->
    <img class="img-fluid rounded mb-4" src="/img/basketball_stat_img2.jpg" alt="">

    <!-- Search Section -->
    <div>
        <form th:object="${teamStatSearch}" class="form-inline">
            <div class="form-group mx-sm-1 mb-2">
                <select th:field="*{year}" class="form-control">
                    <option value="2019">2019</option>
                    <option value="2020">2020</option>
                    <option value="2021">2021</option>
                </select>
            </div>
            <div class="form-group mx-sm-1 mb-2">
                <select th:field="*{tournamentName}" class="form-control">
                    <option value="임시대회A">임시대회A</option>
                    <option value="임시대회B">임시대회B</option>
                    <option value="임시대회C">임시대회C</option>
                </select>
            </div>
            <div class="form-group mx-sm-1 mb-2">
                <input type="text" th:field="*{teamName}" class="formcontrol" placeholder="팀 이름"/>
            </div>
            <button type="submit" class="btn btn-primary mx-sm-1 mb-2">검색</button>
        </form>
    </div>

    <!-- Table Section -->
    <div th:if="${lists.size() != 0}">
        <style>
            table {
                white-space: nowrap;
                text-align: center;
            }
        </style>
        <table class="table table-responsive-sm table-bordered table-dark">
            <thead>
            <tr>
                <th>팀명</th>
                <th>경기수</th>
                <th>승률</th>
                <th>승</th>
                <th>패</th>
                <th>총득점</th>
                <th>어시스트</th>
                <th>리바운드</th>
                <th>스틸</th>
                <th>블록</th>
                <th>2점슛</th>
                <th>3점슛</th>
                <th>자유투</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="list : ${lists}">
                <td th:text="${list.team.name}"></td>
                <td th:text="${list.gamesPlayed}"></td>
                <td th:text="${#numbers.formatDecimal((list.win * 1.0 / (list.win + list.lose)), 1, 3)}"></td>
                <td th:text="${list.win}"></td>
                <td th:text="${list.lose}"></td>
                <td th:text="${#numbers.formatDecimal((list.totalPointMade * 1.0 / list.gamesPlayed), 1, 2)}"></td>
                <td th:text="${#numbers.formatDecimal((list.assist * 1.0 / list.gamesPlayed), 1, 2)}"></td>
                <td th:text="${#numbers.formatDecimal((list.rebound * 1.0 / list.gamesPlayed), 1, 2)}"></td>
                <td th:text="${#numbers.formatDecimal((list.steal * 1.0 / list.gamesPlayed), 1, 2)}"></td>
                <td th:text="${#numbers.formatDecimal((list.block * 1.0 / list.gamesPlayed), 1, 2)}"></td>
                <td th:text="${#numbers.formatPercent((list.twoPointMade / list.twoPointTry) / list.gamesPlayed, 1, 2)}"></td>
                <td th:text="${#numbers.formatPercent((list.threePointMade / list.threePointTry), 1, 2)}"></td>
                <td th:text="${#numbers.formatPercent((list.freeThrowMade / list.freeThrowTry), 1, 2)}"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div th:if="${lists.size() == 0}">
        <p style="text-align: center; font-weight: bold; font-size: 1.8em;"> 데이터가 존재하지 않습니다. <br> 검색조건을 다시 확인해주세요. </p>
    </div>
    <!-- /.row -->

</div>

<div th:replace="fragments/footer :: footer"></div>

<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>
</html>
