<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>The Stat</title>

    <!-- Bootstrap core CSS -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>

    <!-- Custom styles for this template -->
    <link href="/css/modern-business.css" rel="stylesheet"/>

</head>
<body>
<div th:replace="fragments/bodyHeader :: bodyHeader"></div>

<header>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <!-- Slide One - Set the background image for this slide in the line below -->
            <div class="carousel-item active" style="background-image: url('/img/main1.jpg');">
            </div>
            <!-- Slide Two - Set the background image for this slide in the line below -->
            <div class="carousel-item" style="background-image: url('/img/main2.jpeg');">
            </div>
            <!-- Slide Three - Set the background image for this slide in the line below -->
            <div class="carousel-item" style="background-image: url('/img/main3.jpg');">
            </div>
            <!-- Slide Four - Set the background image for this slide in the line below -->
            <div class="carousel-item" style="background-image: url('/img/main4.jpeg');">
            </div>
            <!-- Slide Five - Set the background image for this slide in the line below -->
            <div class="carousel-item" style="background-image: url('/img/main5.jpeg');">
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</header>

<!-- Page Content -->
<div class="container">

    <!-- Sidebar Column -->
    <h1 class="my-4" style="text-align: center">The Stat 에서 당신의 기록을 확인하세요</h1>

    <!-- Marketing Icons Section -->
    <div class="row">
        <div class="col-lg-4 mb-4">
            <div class="card h-100">
                <h4 class="card-header" style="text-align: center"> 기록 보관 </h4>
                <div class="card-body">
                    <p class="card-text"> The Stat 은 여러분들이 대회에서 남긴 소중한 기록들을 보관합니다 </p>
                </div>
                <!--                <div class="card-footer">-->
                <!--                    <a href="#" class="btn btn-primary">Learn More</a>-->
                <!--                </div>-->
            </div>
        </div>
        <div class="col-lg-4 mb-4">
            <div class="card h-100">
                <h4 class="card-header" style="text-align: center"> 기록 확인 </h4>
                <div class="card-body">
                    <p class="card-text"> The Stat 에서 여러분들의 기록을 언제 어디서든 확인할 수 있습니다 </p>
                </div>
                <!--                <div class="card-footer">-->
                <!--                    <a href="#" class="btn btn-primary">Learn More</a>-->
                <!--                </div>-->
            </div>
        </div>
        <div class="col-lg-4 mb-4">
            <div class="card h-100">
                <h4 class="card-header" style="text-align: center"> 기록 분석 </h4>
                <div class="card-body">
                    <p class="card-text"> The Stat 에서 제공하는 기록들로 특정 팀, 선수를 분석할 수 있습니다 </p>
                </div>
                <!--                <div class="card-footer">-->
                <!--                    <a href="#" class="btn btn-primary">Learn More</a>-->
                <!--                </div>-->
            </div>
        </div>
    </div>
    <!-- /.row -->

    <!-- Portfolio Section -->
    <h2>지원 종목</h2>
    <div class="row">
        <div class="col-lg-4 col-sm-6 portfolio-item">
            <div class="card mh-100">
                <a href="basketball"><img class="card-img-top" src="/img/main_categoty_basketball.jpeg" alt=""></a>
                <div class="card-body">
                    <h4 class="card-title" style="text-align: center">
                        <a href="basketball">농구</a>
                    </h4>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item">
            <div class="card mh-100">
                <a><img class="card-img-top" src="/img/main_categoty_soccer.jpeg" alt=""></a>
                <div class="card-body">
                    <h4 class="card-title" style="text-align: center">
                        <a>축구 (지원 예정)</a>
                    </h4>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item">
            <div class="card mh-100">
                <a><img class="card-img-top" src="/img/main_category_baseball.jpeg" alt=""></a>
                <div class="card-body">
                    <h4 class="card-title" style="text-align: center">
                        <a>야구 (지원 예정)</a>
                    </h4>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item">
            <div class="card mh-100">
                <a><img class="card-img-top" src="/img/main_category_esports.jpeg" alt=""></a>
                <div class="card-body">
                    <h4 class="card-title" style="text-align: center">
                        <a>e-Sprots (지원 예정)</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->

    <!-- Features Section -->
    <!--    <div class="row">-->
    <!--        <div class="col-lg-6">-->
    <!--            <h2>Modern Business Features</h2>-->
    <!--            <p>The Modern Business template by The Stat includes:</p>-->
    <!--            <ul>-->
    <!--                <li>-->
    <!--                    <strong>Bootstrap v4</strong>-->
    <!--                </li>-->
    <!--                <li>jQuery</li>-->
    <!--                <li>Font Awesome</li>-->
    <!--                <li>Working contact form with validation</li>-->
    <!--                <li>Unstyled page elements for easy customization</li>-->
    <!--            </ul>-->
    <!--            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis, omnis doloremque non cum id-->
    <!--                reprehenderit, quisquam totam aspernatur tempora minima unde aliquid ea culpa sunt. Reiciendis quia-->
    <!--                dolorum ducimus unde.</p>-->
    <!--        </div>-->
    <!--        <div class="col-lg-6">-->
    <!--            <img class="img-fluid rounded" src="http://placehold.it/700x450" alt="">-->
    <!--        </div>-->
    <!--    </div>-->
    <!-- /.row -->

    <hr>

</div>
<!-- /.container -->

<!-- Footer -->
<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright 2021. 이상진 inc. all rights reserved.</p>
    </div>
    <!-- /.container -->
</footer>

<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
